<ion-header>
    <ion-navbar color="pronto-verde">
        <ion-title text-center>
            ProntoCarga.com
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h3 class="pronto-gris">Mis servicios prestados son:</h3>
    <hr class="hr-separador" hideWhen="ios">
    <ion-item>
        <ion-label>Tipo de servicio </ion-label>
        <ion-select placeholder="Seleccione" name="serv_p" [(ngModel)]="serv_selected" required>
            <ion-option *ngFor="let item of all_servicios_P" [value]="item.servicio_id">{{item.nombre}}</ion-option>
        </ion-select>
    </ion-item>

    <button [disabled]="!serv_selected" (tap)="addServicio()" color="pronto-gris" ion-button block margin-bottom="1" margin-top="2">
          Adicionar tipo de servicio
        </button>

    <h3 class="pronto-verde">Selección</h3>
    <hr class="hr-separador">
    <ion-list>
        <ion-item *ngFor="let item of my_servicios_P">
            {{item.nombre}}
            <button (tap)="deleteServicio(item.servicio_id)" class="fs-20" color="danger" ion-button icon-only item-end>
              <ion-icon   name="close"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>