<ion-header>
    <ion-navbar color="pronto-verde">
        <ion-title text-center>
            ProntoCarga.com
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-label text-center color="pronto-gris">Mis traslados</ion-label>
    <hr class="hr-separador" hideWhen="ios">
    <ion-list>
        <ion-item *ngFor="let item of traslados;let item_index = index">
            <h2 class="pronto-verde">{{item.titulo}}</h2>
            <p><strong> {{item.categoria}} - {{item.subcategoria}}</strong></p>
            <p><strong> Personal adicional:</strong> {{item.personal_adicional}}</p>
            <p><strong> Fecha entrega:</strong> {{item.fecha_operation}}</p>
            <p text-wrap>{{item.descripcion}}</p>

            <ng-container *ngIf="item.estado == 1; else elseTemplate">
                <button (tap)="iniciar(item.traslado_id,item_index)" padding color="pronto-gris" ion-button block>Marcar como iniciado</button>
            </ng-container>
            <ng-template #elseTemplate>
                <ion-grid>
                    <ion-row align-items-center>
                        <ion-col col-5>
                            <button *ngIf="item.estado == 2" ion-button color="pronto-warning" block outline>Iniciado</button>
                            <button *ngIf="item.estado == 3" ion-button color="pronto-verde" block outline>Terminado</button>
                        </ion-col>
                        <ion-col col-7>
                            <button (tap)="terminar(item.traslado_id,item_index)" *ngIf="item.estado == 2" padding block color="pronto-gris" ion-button>
                                Terminar
                              </button>
                            <div *ngIf="item.estado == 3 && item.evaluacion > 0">
                                <ion-icon color="pronto-verde" *ngFor="let item of stars; let i = index" [name]="item" style="font-size: 35px;"></ion-icon>
                            </div>
                            <div *ngIf="item.estado == 3 && item.evaluacion == 0">
                                <p text-wrap> esperando evaluación del cliente</p>
                            </div>

                        </ion-col>

                    </ion-row>
                </ion-grid>
            </ng-template>
        </ion-item>

    </ion-list>
</ion-content>